<div class="py-5 container-fluid main-container d-flex justify-content-around align-items-center flex-column">
    <div>Powered By</div>
    <div class="container d-flex justify-content-evenly align-items-center">
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img class="footer-image" src="https://i.pinimg.com/736x/16/f6/08/16f6080f1540f1a4bac853126f87333b.jpg">
            <div>Goverment Of India</div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column">
            <img class="footer-image" src="https://www.indiancurrents.org/files/issue/eci.png">
            <div>Election Commission Of India</div>
        </div>
    </div>
    <div class=" d-flex justify-content-evenly align-items-center flex-column">
        <div class="mt-5">Address : Nirvachan Sadan, Ashoka Road, New Delhi 110001</div>
        <div>Email : <b>eci{{'@'}}gmail.com</b></div>
        <div>Phone : <b>+91 1234567890</b>, <b>+91 1234567890</b></div>
    </div>
    <div class="pt-5 fc">© 2024 <b>Election commission of India</b>. All rights reserved. </div>
</div>