.main-container{
    background-color: #005C78;
    color:rgba(243, 247, 236,0.9);

    .footer-image{
        height: 5rem;
    }

    .header-text{
        font-size: 0.3 rem;
        font-weight: bolder;
    }
    .fc{
        color:rgba(243, 247, 236,0.5);
    }
}