.main-container{
    .container{
        max-height: 150px;
        min-height: 70px;
        height: 20vw;
    }

    .header-image{
        max-height: 110px;
        min-height: 50px;
        height: 15vw;
    }

    .header-text{
        font-size: 0.2 rem;
        font-weight: bolder;
    }
}