<div class="container main-container bg-white d-flex justify-content-between align-items-center flex-row">
    <div class="container d-flex justify-content-between align-items-center flex-row">
        <div class="d-flex justify-content-center flex-row ">
            <img class="header-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRstAydbeIEZLwPair8dIl2NnguwF7_is7aIw&s">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="header-text">भारत सरकार</div>
                <div class="header-text">Goverment of India</div>
            </div>
        </div>
        <div class="d-flex justify-content-center flex-row ">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="header-text">भारत निर्वाचन आयोग</div>
                <div class="header-text">Election Commision of India</div>
            </div>
            <img class="header-image" src="https://www.indiancurrents.org/files/issue/eci.png">
        </div>
    </div>
</div>
