.row-container{
    border: 2px solid #006989;
    background-color: white;
    min-height: 400px;
    
   .vote-now-button{
       width: 45%;

       max-width: 250px;
       background-color: #006989;
       font-weight: bolder;
       color: white;
       font-size: large;
       border-radius: 5px;
       transform: 1s ease-in-out;
}

.vote-now-button:hover{
    background-color: #E88D67;
    color: white;
    transition: all 0.3s ease;
}

}

.input-box{
    width: 100%;
    padding: 8px;
  }

.input-box-submit{
    background-color: #006989;
    color: white;
    padding: 8px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.otp-inputs {
    display: flex;
    gap: 10px;

    input {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
      }
  }
  
  .otp-box-submit{
    width: 22rem;
    padding: 8px;
    background-color: #006989;
    color: white;
    padding: 8px;
  }