.row{
    border: 2px solid #006989;
    background-color: white;
    min-height: 400px;
    
   .vote-now-button{
       width: 45%;

       max-width: 250px;
       background-color: #006989;
       font-weight: bolder;
       color: white;
       font-size: large;
       border-radius: 5px;
       transform: 1s ease-in-out;
}

.vote-now-button:hover{
    background-color: #E88D67;
    color: white;
    transition: all 0.3s ease;
}

}